$mainBGcolor: #0f0925;
$lighterBGcolor: #2e1c6d;
$lightPurbleColor: #39279a;
$blackTextColor: black;
$whiteBorder: whitesmoke;
$menuLinkColor: white;
$headerHeight: 13.4vh;
$sectionBorderWidth: 3px;
$cardBackground: #f7f7f7;
$purplePinkGradient: linear-gradient(to left, #743ad5, #d53a9d);
$heightMainPhoto: 600px;
$tagsCardDrop: 1rem;

$font-weights: (
    "regular" : 300,
    "medium": 600,
    "bold": 700
);